{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h4 class="card-title" align="center">Options</h4>
    <hr>
    <div class="card-body">
        <div class="card-body">
            <h4 align="center">{{ object.title }}</h4>
            <h5>Creation date: {{ object.creation_date }}</h5>
            <br>
            <ul>
                <li><a href="{% url 'update' object_id=object.id op=op %}">Update</a></li>
                <li><a href="{% url 'delete' object_id=object.id op=op %}">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}