
    {% extends 'base.html' %}
	{% block content %}
        <div class="card-title" align="center"><h3>My groups</h3></div>
        <hr>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div v-for="New group" class="col"> 
                <div class="card">  
                    <div class="card-body"> 
                        <a href="{% url 'newGroup' %}">
                            <h5 class="card-title fw-bold">New group</h5> 
                        </a>
                        <p class="card-text">Add a new group</p> 
                    </div> 
                </div> 
            </div> 
            {% for group in groups %}
            <div v-for="group in groups" class="col"> 
                <div class="card">  
                    <div class="card-body"> 
                        <a href="{% url 'list' group.id %}">
                            <h5 class="card-title fw-bold">{{ group.title }}</h5> 
                        </a>
                        <p class="card-text">{{ group.creation_date  }}</p> 
                    </div> 
                    <div class="card-footer">
                        <a href="{% url 'options' object_id=group.id op='groups' %}">
                            <h5 class="card-title fw-bold">Options</h5> 
                        </a>
                    </div>
                </div> 
            </div> 
            {% endfor %} 
        </div>
    {% endblock content%}
