{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="card mb-3">
		<div class="row g-0">
			<div>
				<div class="card-body">
					{% if show == False %}
						<h3 class="card-title" align="center">Transcribe your audio files</h3>
						{% if error %}
						<div class="alert alert-danger mt-3" role="alert">
							{{ error }}
						</div>
						{% endif %}
						<p class="card-text">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="file" id ="audio_file" name="audio_file" accept="audio/mp3, audio/wav"  align="center">
							<br><br>
							<button type="submit" class="btn btn-primary">Transcribe</button>
						</form>
						</p>
					{% else %}
						<div class="container">
							<p><h4>{{ mensaje }}</h4></p>
							<textarea disabled="True"  style="width:100%; height: 200px" id="detail_textarea">{{ result.text }}</textarea>
						</div>
						<hr>
						<div class="container" align="center"> 
							<a href="{% url 'newNote' group_id result.text %}">
								<button type="button" class="btn btn-primary">
									Create new Note
								</button> 
							</a> 
						</div>
					{% endif%}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
