<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Transcribe</title>
</head>
<body>
	{% extends 'base.html' %}
	{% block content %}
	<div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
					{% if show == False %}
						<h3 class="card-title" align="center">Transcribe your audio files</h3>
						{% if error %}
						<div class="alert alert-danger mt-3" role="alert">
							{{ error }}
						</div>
						{% endif %}
						<p class="card-text">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="file" name="audio_file" align="center">
							<br><br>
							<button type="submit" class="btn btn-primary">Transcribe</button>
						</form>
						</p>
					{% else %}
						<div>
							<p><h4>{{ mensaje }}</h4></p>
							<textarea disabled="true" rows="10" cols="167" id="detail_textarea">{{ result.text }}</textarea>
						</div>
						<hr>
						<div class="card-body"> 
							<a href="{% url 'newNote' group_id result.text %}">
								<h5 class="card-title fw-bold">Create new Note</h5> 
							</a> 
						</div>
					{% endif%}
				</div>
			</div>
		</div>
	</div>
	{% endblock content %}
</body>
</html>