{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h4 class="card-title" align="center">Update</h4>
    <hr>
    <div class="card-body">
        <div class="alert alert-warning" role="alert">
            You are about to update: "{{ object.title }}"
        </div>
        <div class="card-text">
            <form method="POST">
                {% if op == 'groups'  %}
                <div class="container" align="center">
                   <form method="POST">
                    {% csrf_token %}
                    <label for="title">Title</label>
                    <br>
                    <input type="text" id="title" name="title" value="{{ object.title }}"></input>
                    <br><br>
                    <hr>
                    <button type="submit"  class="btn btn-warning">Update</button>  
                </form> 
                </div>
                {% else %}
                <div class="container" align="center">
                    <form method="POST">
                     {% csrf_token %}
                     <label for="title">Title</label>
                     <br>
                     <input type="text" id="title" name="title" value="{{ object.title }}"></input>
                     <br><br>
                     <label for="note">Note</label>
                     <br>
                     <textarea  rows="10" cols="167" id="note" name="note">{{ object.transcripcion }}</textarea>
                     <hr>
                     <button type="submit"  class="btn btn-warning">Update</button>  
                 </form> 
                 </div>
                {% endif %}
                
                <!--<button type="submit"  class="btn btn-warning">Update</button>-->
            </form>
        </div>
    </div>
</div>
{% endblock content %}